@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font: "Work Sans", sans-serif;
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: rgb(140, 105, 145);
  --purple-950: rgb(47, 21, 51);
  --purple-hover: #AD28EB;
  --weight-regular: 400;
  --weight-semi-bold: 600;
  --weight-bold: 700;
  --box-shadow: rgba(47, 21, 51, 0.15);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: var(--font);
}

body {
  margin: 0;
  padding: 0;
  color: var(--purple-950);
}

image,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
}

.main-container {
  background-color: var(--purple-100);
  position: relative;
}

.faq-container {
  /* fallback for internet explorer */
  min-width: 320px;
  max-width: 500px;
  width: 60vw;
  /*  */
  width: clamp(320px, 60vw, 500px);
  margin: 0 auto;
  background-color: var(--white);
  padding: 1rem;
  margin-top: -10vh;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 24px var(--box-shadow);
}

.header {
  background-image: url("/assets/images/background-pattern-mobile.svg");
  height: 25vh;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.faq-header {
  display: flex;
  gap: 1.5rem;
}

.faq-title {
  color: var(--purple-950);
  margin: 0.5rem 0;
}

.faq-title-icon {
  width: 24px;
}

.accordion-question {
  display: flex;
  justify-content: space-between;

}

.accordion-item:nth-of-type(-n + 3) {
  border-bottom: 1px solid var(--purple-100);
}

.accordion-item-title {
  background-color: var(--white);
  border: none;
  font-family: var(--font);
  font-weight: 600;
  font-size: 16px;
  text-align: start;
  transition: color 0.2s ease-in-out;
}

.accordion-item-title:hover {
  cursor: pointer;
  color: var(--purple-hover);
  transition: color 0.2s ease-in-out;
}

.accordion-answer {
  color: var(--purple-600);
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  padding-left: 1px;
}


@media screen and (min-width: 600px) {
  .header {
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 35vh;
    background-position: top;
  }

  .faq-container {
    margin-top: -15vh;
  }
}

@media screen and (min-width: 1024px) {
  .faq-title {
    font-size: 3rem;
  }

  .faq-title-icon {
    width: 36px;
  }

  .header {
    height: 40vh;
  }
  
  .faq-container {
    margin-top: -20vh;
  }
}

@supports not (clamp()) {
  .faq-container {
    min-width: 320px;
    max-width: 500px;
    width: 60vw;
  }
}